<?xml version="1.0"?>
<launch>

	<!-- $ roslaunch turtlebot3_navigation turtlebot3_navigation.launch map_file:=/home/dyc/mymap/housemap.yaml-->

	<!-- 用于包含正常启动导航 launch -->
	<include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
		<!-- 设置该 launch 文件的参数 -->
		<arg name="map_file" value="/home/dyc/mymap/housemap.yaml" />
  	</include>

	<!-- 添加启动 init_pose 的标签, 节点名称为 init_pose -->
	<node pkg="advanced_navi" type="init_pose" name="init_pose" output="screen"/>

</launch> 