<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
  <arg name="data_file" default="/home/dyc/ROSTutorial_ws/src/advanced_navigation/data/landmarks.txt "/>

  <!-- sequence_goal -->
  <node pkg="advanced_navi" name="sequence_goal" type="sequence_goal" args="$(arg data_file)" output="screen"/>

</launch> 
