<?xml version="1.0"?>
<launch>

  <!-- TODO 3.2.4 编写 launch 文件 -->

    <param name="/image_base/scale_factor_inv" value="0.25" />
    <node name = 'image_base' pkg = 'octo_mapping' type = 'image_base' output="screen">
      <!-- param name = "/image_base/scale_factor_inv" type = "float" value = "$(arg /image_base/scale_factor_inv)" /-->
    </node>
   

</launch>
