<?xml version="1.0"?>
<launch>
  <!-- Arguments -->
  <arg name="model" default="$(env TURTLEBOT3_MODEL)" doc="model type [burger, waffle, waffle_pi]"/>
  <arg name="map_file" default="/home/frankxcr/mymap/housemap.yaml"/>
  <arg name="slam_methods" default="karto"/>
  <arg name="open_rviz" default="true"/>
  <arg name="move_forward_only" default="false"/>

  <!-- Turtlebot3 -->
  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_remote.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <!-- Map server -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <!-- AMCL -->
  <include file="$(find turtlebot3_navigation)/launch/amcl.launch"/>

  <!-- move_base -->
  <include file="$(find turtlebot3_navigation)/launch/move_base.launch">
    <arg name="model" value="$(arg model)" />
    <arg name="move_forward_only" value="$(arg move_forward_only)"/>
  </include>

  <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz" required="true"
	    args="-d $(find octo_mapping)/rviz/point_cloud_mapping.rviz"/>

    <node pkg="octo_mapping" type="point_cloud_map" name="point_cloud_map1" output="screen"/>
    <node pkg="octo_mapping" type="octo_map" name="octo_map1" output="screen"/>
    <node pkg="advanced_navi" type="init_pose" name="init_pose1"  output="screen"/>
    
    <param name="/image_base/scale_factor_inv" value = "0.5"/>
    <param name="/point_cloud_map/scale_factor_inv" value = "0.25"/>
    <param name="/point_cloud_map/update_frequency" value = "1.00"/>
    <param name="/point_cloud_map/distance_threshold" value = "0.2"/>
    <param name="/point_cloud_map/angle_deg_threshold" value = "10.0"/>
    <param name="/point_cloud_map/point_cloud_leaf_size" value = "0.05"/>
    <param name="/point_cloud_map/point_cloud_mean_K" value = "10"/>
    <param name="/point_cloud_map/point_cloud_filter_thres" value = "0.2"/>
    <param name="/octo_map/resolution" value = "0.05"/>
    
</launch>

